@{
    ViewBag.Title = "Home Page";
}

<form action="" method="post" enctype="multipart/form-data">
    Name:
    <input type="text" name="name" placeholder="Enter Your Name" class="form-control"/>
    Email:
    <input type="email" name="email" placeholder="Enter Your Eamil" class="form-control"/>
    Password:
    <input type="password" name="pass" placeholder="Enter Your Password" class="form-control"/>
    Gender:
    <input type="radio" name="gender" value="Male" />Male <input type="radio" name="gender" value="Female" />Female
    <br/> Hobbie :<input type="checkbox" name="red" value="Reding" />Reading
    <input type="checkbox" name="cri" value="Cricket" />Cricket
    <input type="checkbox" name="foot" value="Football" />Football <br/>
    Profile :
    <input type="file" name="pic" class="form-control"/>
    <input type="submit" value="SUBMIT" />
</form>